<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <style>
        body{
            height: 100vh;
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <div>
    <h1>Registration Successful</h1>
    <p>Your registration was successful. Thank you!</p>
    </div>

</body>
</html>
